/* CSS pour le loader */
.load {
  position: absolute;
  top: 0;
  left: -20vw;
  width: 50vw;
  height: 30vw;
/*   overflow: hidden; */
  pointer-events: none; /* Ne bloque pas les clics sous-jacents */
  z-index: 9999;
}

.wavy-img {
z-index: 1000;
    position: absolute;
    top: 40%;
    left: 115%;
    width: 50%; 
    height: 70%; 
  
  

  

  animation: wave 7.2s infinite ease-in-out; 
}


