.containeraudio {
  z-index: 2;
  height: 20px;
z-index: 11;
  .flexaudioelement {
    position: relative;
    margin-top: 2.2vw;
  }

  .audiocenter {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    z-index: 2;
  }

  .audiocenter audio {
    z-index: 2;
    display: flex;
    justify-items: center;

    border-radius: 5%;
  }
}
