.containeraudio {

z-index: 501;
margin-top: 2.2vw;
@include audio_mobile;

  .audiocenter {
    @include audio_mobile_center;
  position: relative;
    margin: 1px;
 
  
    width: 100%; 
  
    margin: 0px;
  }
  .audiocenter audio {
    -webkit-appearance: none; 
    appearance: none;

    position: relative;
    
  }
  audio::-webkit-media-controls-panel {
  
    opacity: 1 !important;
  }
  
}
