.containeraudio {
 /*  @include audio_mobile_portrait; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .flexaudioelement {
    display: flex;
    /*   border: 2px solid red;  */
    justify-content: center;
    align-items: center;
    width: 80%;

    @include audio_mobile_portrait_width;
    padding: 2px;
  }

  .audiocenter {
    @include audiocenter_mobile_landscape;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    width: 100%; 
    margin-top: 3vw;
  }

  .audiocenter audio {
    display: block;

    border-radius: 5%;
   
    width: 100%;
  }
}