html {
  margin: 0;
  padding: 0;
  overflow-x: none;
  border: none;
overflow-x: hidden;

}

body {

  margin: 0;
  padding: 0;
  overflow-x: none;
  border: none;
overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  text-decoration: none;
  color: beige;
  text-shadow: black 3px 3px 3px;
}

ul {
  list-style: none;
}


li {


  list-style: none;
}