.fiche {


    & .createPostPage {
 
        font-family: Arial, Helvetica, sans-serif;
      padding: 3rem;
      width: 80vw;
      margin-top: 2rem;
        transform: translate(-50% -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px red;
        background: linear-gradient(
            180deg,
            rgba(91, 163, 250, 0.5),
            rgba(3, 16, 91, 0.5)
          );
          /* url(../logos/orig.gif) no-repeat 100%; */
       
        
        border-radius: 10%;
 
     
      }



}

.changemdp {
  @include pwdchange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 40vw;
  margin: 0; 
  padding: 3vw;
  
  border-radius: 10% 0% 10% 0%;
  background-color: red;
  border: 1px solid black;

  word-wrap: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  gap: 2vw;
  color: #f7fdfd;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.7rem;
  text-shadow: 2px 2px 5px rgb(2, 0, 10);
  box-shadow: 0.5px 0.5px  rgb(54, 160, 236), 0.2em 0 0.2em rgb(7, 25, 219)


}
.changemdp input {
  width: 95%;
  height: 2vw;
}
.changemdp button {
  width: 95%;
  height: 2vw;
  border-radius: 20%;
  box-shadow: 0.5px 0.5px  rgb(54, 160, 236), 0.2em 0 0.2em rgb(7, 25, 219)

}
.changemdp button:hover{
transform: scale(1.1);
background-color: #28ec6d;
text-shadow: 2px 2px 5px rgb(10, 140, 88);
cursor: pointer;
}

.passwordchange {
  position: absolute;
  top: 5vw;
  left: 4vw;
  border-radius: 10% 0% 10% 0%;
background-color: red;
border: 1px solid black;
padding: 0.4vw;
color: #f7fdfd;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 1.7rem;
text-shadow: 2px 2px 5px rgb(2, 0, 10);
box-shadow: 1px 1px rgb(54, 160, 236), -0.5em 0 0.4em rgb(13, 13, 13);
&:hover{
cursor: pointer;
transform: scale(1.1);
background-color: rgb(68, 230, 35);
}
}
.bookfiche {
  white-space: nowrap; /* Évite les coupures de mots */
  overflow: hidden; /* Masque le débordement */
  text-overflow: ellipsis; /* Ajoute "..." si le texte est trop long */
  max-width: 100%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 1.7rem;
text-shadow: 2px 2px 5px rgb(2, 0, 10);
}
.description {
display: flex;
justify-content: center;
  text-shadow: 2px 2px 5px rgb(18, 3, 103);
background-color: #2069dd;
border-radius: 20%;
padding: 10px;
margin-top: 3vw;
text-align: center;
}
.Booknumber {

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2vw; 

  .livrenumber {
    box-shadow: 1px 1px rgb(54, 160, 236), -0.5em 0 0.4em rgb(13, 13, 13);
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #122441;
    border-radius: 20%;
    margin: 2%;
    color: #f7fdfd;
    padding: 1vw;
    
    & input {
      
      width: auto;
      margin-top: 10vw;
      background-color: #83050e;
    }
  }

  /* Styles pour la liste déroulante */
  select {
    
    text-align: center;
    word-wrap: normal;
    white-space: nowrap;
    outline:  none;
    text-overflow: ellipsis;
    width: auto;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 2px solid #122441; /* Bordure de la liste déroulante */
    border-radius: 5px;
    background-color: #f7fdfd;
    color: #122441;
    outline: none;
    margin-top: 1rem;

    cursor: pointer;
  }

  /* Styles pour les options de la liste déroulante */
  select option {
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: #f7fdfd;
    color: #122441;
    border: none;
  }

  /* Option survolée */
  select option:hover {
    background-color: #83050e;
    color: #f7fdfd;
  }
}


.ficheAdmin {
  display: flex;
 background-color: #548787;

flex-direction: column;

border: 2px solid rgb(71, 68, 68);

background-attachment: fixed;
background-size: cover;
padding: 2%;
box-shadow: 2px 2px rgb(93, 128, 245), 0.5em 0.5em 1.5em rgb(19, 83, 143);
text-shadow: 0.4px 0.4px 0.4px rgb(179, 158, 158);
width: 100vw;
height: 100vw;

& .lien:hover {
  box-shadow: 1px -1px 1px 0.5px black;
color: white;
text-shadow: 1px 1px 0.5px white;

}


  & p:first-child {
    display: inherit;
    -webkit-text-stroke: 0.2px rgba(172, 9, 9, 0.658);
color: #1d6dee;
    font-size: 1rem;
    background-color: white;
   
  }

& .ficheAdmin_haut{

  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 2rem;
}
  & .administration {

width: 100%;
display: flex;
align-items: flex-start;


  }
       & .createPostPage {
   
          font-family: Arial, Helvetica, sans-serif;
        padding: 1rem;
      
       
        margin-top: 2rem;
          transform: translate(-50% -50%);
          display: flex;
 
         flex-direction: column;
          border: solid 1px red;
          background: linear-gradient(
              180deg,
              rgba(91, 163, 250, 0.5),
              rgba(3, 16, 91, 0.5)
            );
         
          
          border-radius: 10%;
          
          & .formContainer2 {
           
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;
            
            max-width: 100vw;
            box-shadow: 0px 1px 1px rgb(17, 17, 17);
        
            font-weight: 700;
            
           
            padding: 3%;
            border: 5px solid hsl(356, 58%, 57%);
            border-radius: 10%;
            background-color: white;
            font-size: 25px;
            margin-top: 3%;
            margin-bottom: 3%;
        & .titleform {

color: #f7fdfd;

          background-color: #153e80;
          border-radius: 20%;
          border: 1px solid rgb(18, 17, 17);
          -webkit-text-stroke: 0.5px rgba(248, 248, 248, 0.658);
          text-shadow: 0.4px 0.4px 0.4px rgb(10, 10, 153);
        }
            & .titre {
              font-size: 2rem;
              margin-bottom: 2%;
              background-color: rgb(248, 246, 242);
            }
& span {

  color: red;
 font-size: 1rem;
}
           & label{
          
           font-size: 1.5rem;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
           
           }
        
            & form { 
            
              & input {
                margin-bottom: 3%;
              
                box-shadow: 0px 1px 0.2px rgb(17, 17, 17);
                border: 0.1px solid #2069dd;
              }
        
              display: flex;
              flex-direction: column;
              text-align: center;
        
              align-content: center;
            }
          
        
           
        
            & button {
              margin-top: 20%;
              height: 15%;
              width: 100%;
              border-color: #d1515a solid 2px;
              background-color: #2069dd;
              border-radius: 5px;
              color: white;
              font-size: 17px;
              justify-content: center;
              margin-top: 5%;
              & :hover {
                background-color: #153e80;
              }
            }
        
            & .formContainer2 button:hover {
              cursor: pointer;
              background-color: dodgerblue;
            }
            &.formContainer2 button:active {
              background-color: rgb(102, 248, 89);
            }
        
          
          }
        }
  
        & .indivi {
    display: flex;
    flex-direction: column;
  
    place-items: center;
    /* background-size: cover; */
    width: 100%;
    margin-right: 2%;
    margin-left: 2%;

    & .renseignement {

      color: white;

    }
    & #retour {
      background-color: #0d11e9;
      width: 20vw;
      margin-top: 0px;
    }
    & button {
      color: white;
      background-color: #d1515a;
     
    }
  
    & .post2 {
      
      width: 100%;
      height: auto;
      word-wrap: break-word;
     
      border-radius: 10px;
  
      margin: 0.5%;
  
      border: 1px solid #d1515a;
      font-family: Arial, Helvetica, sans-serif;
  
      box-shadow: rgba(15, 15, 12, 2) 0px 2px 8px 0px;
      border-radius: 15px;
      background-color: white;
  & .boutonsupr {
height: 10%;
    width: auto;
 
  }
      & .title {
        background-color: #122441;
        display: block;
        place-content: center;
        color: white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        padding-bottom: 2%;
        padding-top: 2%;
        box-shadow: rgba(13, 13, 14, 0.2) 0px 7px 29px 0px;
        font-size: 20px;
      }
      & .body {
        display: flex;
        flex-direction: column;
  
        margin-left: 0%;
        margin-right: 0%;
  
        font-weight: 500;
        background-color: #f7fdfd;
        color: black;
        white-space: pre-line;
  
        & .lien {
          width: 100%;
          height: 100%;
  
          & img {
            width: 100%;
            height: 100%;
          }
        }
      }
  
      & .footer {
        display: flex;
        flex-direction: column;
       
        padding-bottom: 2%;
        padding-top: 2%;
        align-items: center;
  
      
        color: white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
  
    & .post2:hover {
      box-shadow: rgba(248, 248, 250, 0.2) 0px 7px 29px 0px;
      cursor: pointer;
    }
  
    & .addCommentContainer input,
    & button {
      margin-top: 2%;
      width: 50%;
      height: 100%;
      border-radius: 8px;
      color: rgb(248, 240, 240);
      & :hover {
        background-color: #a9a2eb;
      }
    }
    button {
      background-color: #d1515a;
      width: 100%;
  
      & :hover {
        background-color: #83050e;
        width: 110%;
      }
    }
    & .addCommentContainer button {
      background-color: dodgerblue;
      color: white;
      width: 100%;
    }
  
    & .addCommentContainer input {
      border: 2px solid dodgerblue;
    }
  
    & .listOfComments {
      display: flex;
      flex-direction: column-reverse;
    }
  
    & .listOfComments .comment {
      width: 100%;
      height: 100%;
      padding: 30px;
      white-space: pre-line;
      border: 1px solid #d1515a;
      border-radius: 5px;
      margin-top: 20px;
      background-color: aliceblue;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 25px;
      gap: 15px;
      background-color: #1a50a7;
      background-position: center bottom, left top;
      background-repeat: repeat;
      color: white;
    }
  
    & #individual .footer {
      font-size: 30px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  
    & #individual .body {
      display: flex;
      height: 100%;
      width: 100%;
      text-align: center;
    }
  
  }
 
  }
  .photo {

    height: 8rem;
    width: 6rem;
  border: solid 4px rgb(231, 225, 225);

  
  }

  .photo img {

    height: 8rem;
    width: 6rem;
  border: solid 4px red;

  
  }
  #image {

    color: white;
  }

   .fichier {

    color: white;
  
  }