
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.loader {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes  changementcolorlogin {
  0% {
    background: radial-gradient(circle,
    rgba(22, 22, 22, 0.9),
    rgba(7, 43, 161, 0.5),
    rgb(13, 93, 206),
    rgb(6, 6, 168)),
    url("") no-repeat center center;
  }
 

 

  25% {
    background: radial-gradient(circle,
    rgba(22, 22, 22, 0.9),
    rgba(7, 43, 161, 0.5),
    rgb(13, 93, 206),
    rgb(2, 2, 53)),
    url("") no-repeat center center;
}


  100% {
    background: radial-gradient(circle,
    rgba(22, 22, 22, 0.9),
    rgba(7, 43, 161, 0.5),
    rgb(4, 44, 100, 0.5),
    rgb(2, 2, 53, 0.6)),
    url("") no-repeat center center;
  
}
}
@keyframes pulseplanelogin {
  0% {
    background-size: 100vw; 
    background-color: #030356;
opacity: 1;
  }
  5% {

    background-size: 100vw; 

  }

  25% {
    background-size: 100vw; 
    background-color: #070f9f;
  
 
  }

  35% {
    background-size: 110vw; 
  
    opacity: 1;
   
  }



  50% {
    background-size: 120vw; 
    background-color: #3030dd;
   
   
  }

  75% {
    background-size: 115vw; 
  
  
  }
  100% {
    background-size: 110vw; 
   opacity: 0.7;
}
}
@keyframes pulseplane {
  0% {
  
   

  }
  5% {

   
transform: scale(1.2);font-weight: bold;
  }

  25% {
   
  
 
  }

  35% {
    
    transform: scale(1);
  }



  50% {
color: #11b267;
   
   
  }

  75% {
    transform: scale(1.2); 
  
  
  }
  100% {
   
    transform: scale(1);
  }
}

@-webkit-keyframes pageTurn {
  0% {
    -webkit-transform: rotateY( 0deg);
    transform: rotateY( 0deg);
  }
  20% {
    background: #4b1e77;
  }
  40% {
    background: rebeccapurple;
    -webkit-transform: rotateY( -180deg);
    transform: rotateY( -180deg);
  }
  100% {
    background: rebeccapurple;
    -webkit-transform: rotateY( -180deg);
    transform: rotateY( -180deg);
  }
}

@-webkit-keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
@keyframes shadowScan {
  0% {
      box-shadow: -10px 0px 20px rgba(255, 0, 0, 0.1);
  }
  50% {
      box-shadow: 0px 0px 40px rgba(255, 0, 0, 0.7);
  }
  100% {
      box-shadow: 10px 0px 20px rgba(255, 0, 0, 0.1);
  }
}
@keyframes scanEffect {
  0% {
      left: -20%;
      opacity: 0.1;
  }
  50% {
      left: 20%;
      opacity: 0.7;
  }
  100% {
      left: -30%;
      opacity: 0.1;
  }
}
@keyframes pageTurn {
  0% {
    transform: rotateY( 0deg);
  }
  20% {
    background: #4b1e77;
  }
  40% {
    background: rebeccapurple;
    transform: rotateY( -180deg);
  }
  100% {
    background: rebeccapurple;
    transform: rotateY( -180deg);
  }
}
@keyframes scrollText {
  0% {
      transform: translateX(-120%);
  }
  50% {
      transform: translateX(50%);
  }
  100% {
      transform: translateX(50%);
  }
}

@keyframes waveText {
  0%, 100% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(5deg);
  }
}

@keyframes shakeText {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-5px);
  }
}




@-webkit-keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}




@keyframes infinite_rotate {
  from {
    transform: rotate(0deg);
    border: rgb(50, 17, 216) 0.1px solid;
  }
  to {
    transform: rotate(360deg);
    border: rgb(50, 17, 216) 0.5px solid;
  }
}

@keyframes bouton {
  0% {
 
  background-color: aquamarine;
    filter: blur(0px) hue-rotate(0deg);
  }
  50% {
background-color: rgb(234, 107, 33);
    filter: blur(0.5px) hue-rotate(360deg);
  }
  100% {
   background-color: rgb(29, 234, 67);
 
    filter: blur(0px) hue-rotate(360deg);
  }
}


@keyframes bouton_login {
  0% {
    top: 5px;
    left: 10px;
    filter: blur(0px) hue-rotate(0deg) saturate(1);
    transform: rotate(0deg);
  }
  25% {
    filter: blur(0.5px) hue-rotate(90deg) saturate(1.5);
  }
  50% {
    top: 10px;
    left: 20px;
    filter: blur(1px) hue-rotate(180deg) saturate(2);
    transform: rotate(180deg);
  }
  75% {
    filter: blur(0.5px) hue-rotate(270deg) saturate(1.5);
  }
  100% {
    left: 5vw;
    top: 5px;
    filter: blur(0px) hue-rotate(360deg) saturate(1);
    transform: rotate(360deg);
  }
}


@keyframes boutonlogin_portrait {
  0% {
left:5px;
  
    filter: blur(0px) hue-rotate(0deg);
  }
  50% {
    left:5px;
    filter: blur(0.5px) hue-rotate(360deg);
  }
  100% {
    left:20vw;
    width: 7.6vw;
    height: 7.6vw;
    filter: blur(0px) hue-rotate(360deg);
  }
}

@keyframes boutonlogin_landscape {
  0% {
left:5px;
  
    filter: blur(0px) hue-rotate(0deg);
  }
  50% {
    left:5px;
    filter: blur(0.5px) hue-rotate(360deg);
  }
  100% {
    left:12vw;
    width: 3.9vw;
    height: 3.9vw;
    filter: blur(0px) hue-rotate(360deg);
  }
}

@keyframes loginboutonhover {
  0% {
right:0px;
  
    filter: blur(0px) hue-rotate(0deg);
  }
  50% {

    filter: blur(0.5px) hue-rotate(360deg);
  }
  100% {
   
    filter: blur(0px) hue-rotate(360deg);
  }
}



@keyframes bouton_background_portrait {
  5% {
    top: 5px;
    right: 10px;
    filter: blur(0px) hue-rotate(0deg);
   
  }
 


  100% {
    top: 5px;
    right: 60vw;
    filter: blur(0px) hue-rotate(0deg);
    width: 7.7vw;
    height: 7.7vw;
  }
}

@keyframes bouton_background_landscape{
  5% {
    top: 5px;
    right: 10px;
    filter: blur(0px) hue-rotate(0deg);
   
  }
 


  100% {
    top: 25vw;
    right: 1vw;
    filter: blur(0px) hue-rotate(0deg);
    width: 4.8vw;
    height: 4.8vw;
  }
}

@keyframes bouton_background {
  0% {
    top: 5px;
    right: 0;
    filter: blur(0px) hue-rotate(0deg);
   
  }
  50% {
  right: 10px;
    filter: blur(0.10px) hue-rotate(15deg);
  }
  100% {
    top: 200px;
    right: 10px;
    filter: blur(0px) hue-rotate(0deg);
    
  }
}

@keyframes bouton_title{
  0% {
    top:5px;
    right: 8px;
    filter: blur(0px) hue-rotate(0deg);
  }
  50% {

    filter: blur(0.5px) hue-rotate(15deg);
  }
  100% {
  
    right: 8px;
    top: 100px;
    filter: blur(0px) hue-rotate(0deg);
  }
}


@keyframes bouton_portrait_title{
  0% {
    top:5px;
    right: 8px;
    filter: blur(0px) hue-rotate(0deg);
  }
  50% {

    filter: blur(0.5px) hue-rotate(15deg);
  }
  100% {  
    
    width: 7.8vw;
    height: 7.8vw;
    top: 5px;
    right: 114px;
    filter: blur(0px) hue-rotate(0deg);    
  }
}





















































