.pagecontaineraccueil {
  @include menu_page_mobile_landscape;
  @include menu_page_mobile_portrait;
 
  margin-top: 0.8vw;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  & .flipbook-container-book {
    z-index:10; 
    display: flex;
    align-items: center;
    justify-content: center;
margin-top: 5vw;
    @include container-mobile;
    & img {
      border-radius: 1%;
      width: 31.5vw;
      height: 43.2vw;
      @include mobilepage;
      @include mobilepagelandscape;
      z-index: 1001;
    }

    & #couverture {
      height: 2.5vh;

      background-color: #489cd8;
    }
  }
}
// configuration des tailles images pour livre horizontale
.containerhorizontale {
  display: flex;
  align-items: center;
  z-index:10;
  margin-top: 4vw;
  @include mobilepagehorizontalecontainerlandscape;
  @include mobilepagehorizontalecontainerportrait;
  & img {
    border-radius: 1%;
    width: 35vw;
    height: 30.7vw;

    @include mobilepagehorizontaleland;
  }
}
