
.loader {
  z-index: 99;
  position: absolute;
  transform: translate(-50% -50%);
 top: 0vw;
 left: 39%;
background-color: rgb(198, 209, 209);
& h1 {
  color: #FFFFFF;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  position: absolute;
  text-shadow: 2px 2px 5px rgb(18, 3, 103);
  top: 30vw;
  left: 2vw;
}

& h1:after {
  position: absolute;
  content: "";
  -webkit-animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
  animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
}
}


.book {
  border: 4px solid #FFFFFF;
  width: 400px;
  height: 340px;
  position: relative;
  perspective: 440px;

}

.page {
  display: block;
  width: 200px;
  height: 338px;
  border: 4px solid #FFFFFF;
  border-left: 1px solid #dbd8dd;
  margin: 0;
  position: absolute;
  right: -7px;
  top: -4px;
  overflow: hidden;
  background: url("../logos/world.svg") no-repeat center center;
  transform-style: preserve-3d;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.book .page:nth-child(1) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.6s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.6s infinite;
  background: url("../logos/south.png") no-repeat center center;
  background-color: rgb(198, 209, 209);

}

.book .page:nth-child(2) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.45s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.45s infinite;
  background: url("../logos/Star_icon-icons.com_75206.ico") no-repeat center center;

  background-color: rgb(198, 209, 209);
}

.book .page:nth-child(3) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.2s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.2s infinite;

 
}
