//devices
$phone-max-width: 1000px;

// Bouton cacher les menus de navigations



@mixin bouton-cacher {
  @media only screen and (max-width: 1000px) {
    left: 2px;
    top: 2px;

    font-size: 2rem;
  }
}

@mixin bouton-cacher-log-before_landscape {
  @media only screen and (max-width: 1000px) and (orientation: landscape)  {
    left: -1.5vw;
    top: 0.5vw;
    font-size: 2rem;
    width: 4.5vw;
    height: 4.5vw;
  }
}

@mixin bouton-cacher-log-before_portrait {
  @media only screen and (max-width: 1000px) and (orientation: portrait) {
    left: -1.5vw;
    top: 0.5vw;
    font-size: 2rem;
    width: 8vw;
    height: 8vw;
  }
}

// Bouton visibilité des menus pour la navigation des livres

@mixin homevisible_portrait {
  @media only screen and (max-width: $phone-max-width) and (orientation: portrait) {
    width: 9vw;
    height:9vw;
  }
}

@mixin homevisible_landscape {
  @media only screen and (max-width: $phone-max-width) and (orientation: landscape) {
    width: 4.5vw;
    height:4.5vw;
  }
}


// Bouton de déconnecion

@mixin deco {
  @media only screen and (max-width: 1101px) {
    width: 8vw;
    height: 5vw;
    right: 17.5vw;
  }
}

//-------------------------------
@mixin container-mobile {
  @media only screen and (orientation: portrait) and (max-width: 1101px) {
    margin-top: 20vw;
  }
}

@mixin loadertext {
  @media only screen and (max-width: 701px) {
    margin-left: -30vw;
  }
}

@mixin loader {
  @media only screen and (max-width: 1101px) {
    width: 14vw;
    height: 10.5vw;
  }
}

@mixin loaderPages {
  @media only screen and (max-width: 1101px) {
    width: 9vw;
    height: 10.5vw;
  }
}
/* --------------------------------------TITLES */
@mixin thetitlesportrait {
  @media only screen and (orientation: portrait) and (max-width: 1200px) {
    position: fixed;
    column-count: 2;
    left: 50%;
    bottom: 10px;
    column-rule: 2px solid #ccc;
    width: 80vw;
  }
}

@mixin thetitlesportrait-max {
  @media only screen and (orientation: portrait) and (min-width: 1201px) {
    position: fixed;
    column-count: 4;
    left: 50%;
    bottom: 57.5%;
    transform: translateX(-50%, -50%);
    column-rule: 2px solid #ccc;
    width: 80vw;
  }
}

@mixin thetitlespaysage {
  @media only screen and (orientation: landscape) {
    position: absolute;
    column-count: 1;
    left: 0%;
    bottom: 30%;
    top: 0%;
    transform: translate(-0%, -0%);
  }
}

@mixin thetitlespaysagebuton {
  @media only screen and (max-width: 1000px) and (orientation: landscape) {
    font-size: 0.5rem;
  }
}

/* FIN --------------------------------------TITLES */

/* --------------------------------------OPTIONS DIRECTIONS  */

@mixin menu_page_mobile_north_star {
  @media only screen and (max-width: 1300px) and (orientation: portrait) {
    left: 45vw;
  }
}

@mixin est {
  @media only screen and (max-width: 1500px) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.4rem;
    position: fixed;
    right: 5px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
  }
}

@mixin estlivre {
  @media only screen and (max-width: 1500px) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.4rem;
    position: absolute;
    right: 1vw;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
  }
}

@mixin north {
  @media only screen and (max-width: 1500px) and (orientation: landscape) {
    top: 0%;

    & button {
      font-size: 0.5rem;
    }
  }
}

@mixin west_paysage {
  @media only screen and (max-width: 1000px) and (orientation: landscape) {
    right: 0;
    left: none;
    top: 50%;
  }
}

@mixin west {
  @media only screen and (max-width: 1500px) and (orientation: portrait) {
    display: flex;
    position: fixed;
    left: 5px;
    justify-content: center;
    align-items: center;
    font-size: 0.4rem;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
  }
}

/* FIN--------------------------------------OPTIONS DIRECTIONS  */

/* --------------------------------------Audio */

@mixin audio_mobile_portrait_width {
  @media only screen and (max-width: 1000px) and (orientation: portrait) {
    width: 100%;
  }
}
/* FIN --------------------------------------Audio */

/* -------------------------------------IMAGES ET PAGES  */

@mixin bouton_setbackground {
  @media only screen and (max-width: 1200px) and (orientation: portrait) {
    top: 5px;
    left: 5px;
    animation: bouton_portrait_title 1s forwards;
    max-width: 5vw;
  }
}
@mixin mobilepage {
  @media only screen and (max-width: $phone-max-width) and (orientation: portrait) {
    width: 40vw;
    height: 52.5vw;
  }
}

@mixin north_orientation_landscape-mobile {
  @media only screen and (max-width: $phone-max-width) and (orientation: landscape) {
    width: 4.5vw;
    height: 4.5vw;
    top: 35%;
  
  }
}



@mixin north_orientation_portrait-mobile {
  @media only screen and (max-width: 1200px) and (orientation: portrait) {
    top: 5px;
  right:  30vw;

    animation: bouton_portrait_title 1s forwards;
  }
}

@mixin south_orientation_portrait-mobile {
  @media only screen and (max-width: 1200px) and (orientation: portrait) {
    animation-name: bouton_background_portrait;
    
  }
}

@mixin south_orientation_landscape-mobile {
  @media only screen and (max-width: 1200px) and (orientation: landscape) {
    animation-name: bouton_background_landscape;

  }
}

@mixin bookbackground {
  @media only screen and (max-width: 1200px) and (orientation: portrait) {
    position: absolute;
    left: 10vw;
    width: 80vw;
    z-index: 100;
    border-radius: 20% 0% 20% 0%;
  }
}


@mixin inputco {
  @media only screen and (max-width: 1000px) {
    font-size: 1rem;
  }
}

@mixin mobilepagehorizontalecontainerlandscape {
  @media only screen and (max-width: 1000px) and (orientation: landscape) {
    margin-top: -5vw;
  }
}

@mixin mobilepagehorizontalecontainerportrait {
  @media only screen and (max-width: 1000px) and (orientation: portrait) {
    margin-top: 10vw;
  }
}

/* FIN-------------------------------------IMAGES ET PAGES  */

// Mobile device / Orientation portrait ---------------------------------------------------
//USERS

@mixin login {
  @media only screen and (max-width: 1200px) and (orientation: portrait) {
    top: 45.5vw;
    width: 90vw;
    height: 63.5vw;
  }
}

@mixin loginpaysage {
  @media only screen and (max-width: 1200px) and (orientation: landscape) {
    top: 22.5vw;
  }
}
@mixin identifiant {
  @media only screen and (max-width: 1000px) and (orientation: portrait) {
    animation: deco 2s forwards;

    left: 33vw;
    height: 5vw;
    width: 5vw;
    top: 5px;
  }
}
@mixin identifiantlandscape {
  @media only screen and (max-width: 1000px) and (orientation: landscape) {

    left: 9vw;
    height: 3.5vw;
    width: 3.5vw;
    top: 8px;
  }
}

@mixin biblio {
  @media only screen and (max-width: 1000px) and (orientation: portrait) {
    height: 3.5vh;
    width: 3.5vh;

    left: 12vw;

    top: 2px;
  }
}

@mixin biblio-before {
  @media only screen and (max-width: 1000px) and (orientation: portrait) {
    font-size: 1rem;
  }
}

@mixin create {
  @media only screen and (max-width: 1000px) and (orientation: portrait) {
    position: absolute;
    left: 21.5vw;
    width: 0.5vw;
    height: 0.5vw;
    top: 1vw;
  }
}

@mixin create_landscape {
  @media only screen and (max-width: 1200px) and (orientation: landscape) {
 
    position: absolute;
    left: 18.5vw;
    width: 0.5vw;
    height: 0.5vw;
    top: 1vw;
  }
}


@mixin createfont {
  @media only screen and (max-width: 1000px) and (orientation: portrait) {
    font-size: 1.2rem;
    
  }
}

@mixin bibliotheque {
  @media only screen and (max-width: 1000px) and (orientation: portrait) {
    width: 8.5rem;
    height: 10rem;
  }
}

@mixin bibliothequefont {
  @media only screen and (max-width: 1000px) and (orientation: portrait) {
    max-width: 45vw;
    height: 60vw;
  }
}



@mixin accueil {
  @media only screen and (max-width: 1000px) and (orientation: portrait) {
    right: 0.5vw;

    top: 10vw;
  }
}

//

// Mobile device / Orientation paysage ---------------------------------------------------
@mixin mobilepagelandscape {
  @media only screen and (max-width: 1000px) and (orientation: landscape) {
    height: 35vw;
    width: 28vw;
  }
}
@mixin menu_page_mobile_portrait {
  @media only screen and (max-width: 1300px) and (orientation: portrait) {
    margin-top: 2%;
  }
}

@mixin audiocenter_mobile_landscape {
  @media only screen and (max-width: 1300px) and (orientation: landscape) {
    position: inherit;
  }
}

@mixin menu_page_mobile_landscape {
  @media only screen and (max-width: 1300px) and (orientation: landscape) {
    margin-top: 4%;
  }
}

@mixin mobilepagehorizontaleland {
  @media only screen and (max-width: $phone-max-width) and (orientation: landscape) {
    width: 37vw;
    height: 33vw;
  }
}

// Mobile device /
//Resize login bouton for mobile device ---------------------------------------------------

@mixin boutonlogin_portrait-log {
  @media only screen and (max-width: 1200px) and (orientation: portrait) {
    // Attention derniere position donnée par BEFORE

    animation-name: boutonlogin_portrait;
    animation-fill-mode: forwards;
    left: 20vw;
    top: 5px;

  }
}


@mixin boutonlogin_landscape-log {
  @media only screen and (max-width: 1200px) and (orientation: landscape) {
    // Attention derniere position donnée par BEFORE

    animation-name: boutonlogin_landscape;
    animation-fill-mode: forwards;
    left: 12vw;
    top: 5px;

  }
}

@mixin boutonlogin_portrait {
  @media only screen and (max-width: 1300px) and (orientation: portrait) {
    // Attention derniere position donnée par l'animation
    animation-name: boutonlogin_portrait;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    left: 60vw;
    top: 5px;
  }
}

@mixin bouton-hover {
  @media only screen and (max-width: 1000px) {
    position: fixed;
    border: 1px solid green;
    border-radius: 10%;
    left: 43vw;
    font-size: 0.7rem;
    margin-top: 5px;
    background-color: #ccc;
    font-weight: bold;
  }
}

@mixin smartphone-ajustement_formulaire {
  @media only screen and (max-width: 699px) {
  }
}

@mixin smartphone-deck {
  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}
