@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import "../component/Loader/loader";
@import "./base";
@import "../UI/UI.scss";
@import "./mixin";
@import "./livre";

@import "./Fiche";
@import "./audio";
.homevisible button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 3vw;
  height: 3vw;
  box-shadow: 1px 1px rgb(9, 196, 58), -0.5em 0 0.4em rgb(13, 13, 13);
  border: #0d98e9 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1rem;
  background: radial-gradient(circle, rgba(108, 131, 233, 0.2), rgba(95, 219, 247, 0.5), rgba(24, 107, 184, 0.4), rgba(78, 141, 230, 0.7), rgba(3, 3, 86, 0.7)), url("../logos/world.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
cursor: pointer;
    transform: scale(1.1);
  }
}
.firstpage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}


.deck {
  font-size: 2rem;

  & img {
    border-radius: 20%;

    height: 16rem;
    width: 12rem;
    /*    box-shadow: 2px 2px white, -0.1em -0.1em 0.9em black; */
    border-left: 0.02px solid rgb(178, 175, 175);
  }

  & input {
    width: 10rem;
    margin: 0.4rem;
  }
}


.bouton-horver{
z-index: 2;
  position: absolute;
  top:0vw;
  @include bouton-horver;
  color: white;
  -webkit-text-stroke: #070616 0.2px; 
  text-shadow: 2px 2px 5px rgb(8, 8, 8); 
box-shadow: 1px 1px rgb(54, 160, 236), -0.5em 0 0.4em rgb(13, 13, 13);
border: #0d98e9 1px solid;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
padding: 1vw;
font-size: 1rem;
line-height: 1;
background: radial-gradient(circle, rgba(108, 131, 233, 0.2), rgba(95, 219, 247, 0.5), rgba(24, 107, 184, 0.4), rgba(78, 141, 230, 0.7), rgba(3, 3, 86, 0.7)), url("../logos/world.svg");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
background-color: #0d11e9;
&:hover{
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: #000 -10px 1px 10px;
  color:black;
  -webkit-text-stroke: #070616 0px; 
  text-shadow: 2px 2px 5px rgb(8, 8, 8); 
}
}
.title_book {
  z-index: 9999;
  font-size: 2rem;
  color: white;
  text-shadow: 0.5px 0.5px 0.5px #000, 3px 3px 5px blue;
  -webkit-text-stroke: #0e72d5 0.5px 1px;
}

.test {

  color: red;
  font-size: 2rem;
}

.selectbackground {
  text-align: center;
}

.setbackground {
  position: absolute;
  right: 0;
  top: 10vw;
  margin-right: 10px;
}

.container {
  width: 100%;



  margin: 0;
  padding: 0;


  opacity: 1;






  background-color: #030356;

 

  animation-name: pulseplane;
  animation-duration: 10s;

  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}



#boutoncouv {
  position: absolute;
  top: 15.5vw;
  z-index: 2;
  margin-top: 0%;
}

.backgroundblack {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #000;
  opacity: 0.8;
}


.label_creation_book {
  font-size: 1rem;
}

.ok {
  background-color: red;
}

#annuler {
  background-color: rgb(40, 235, 40);
}

.page {
  border-radius: 1%;
  background-color: white;
  border-radius: 1%;

  & iframe {
    height: 100vw;

    & img {
      width: 100%;
      height: auto;
    }
  }
}

.northstar {
  @include menu_page_mobile_landscape_north_star;
  
  width: 25px;
  height: 25px;
}

.north {
  & button{
    all: unset;

  }
  @include north_orientation_landscape-mobile;
  z-index: 0;
  right: 2.5%;
  position: absolute;
  margin-top: 0.2vw;
  top: 15%;

  border-radius: 15%;
  box-shadow: 1px 1px rgb(9, 196, 58), -0.5em 0 0.4em rgb(13, 13, 13);
  border: #0d98e9 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;

  background: radial-gradient(circle, rgba(108, 131, 233, 0.2), rgba(95, 219, 247, 0.5), rgba(24, 107, 184, 0.4), rgba(78, 141, 230, 0.7), rgba(3, 3, 86, 0.7)), url("../logos/world.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
& img {

  height: 2vw;
  width: 2vw;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
  &:hover{

    transform: scale(1.2);
    cursor: pointer;
  }
}
  animation-name: content2;
  animation-duration: 10s;
  /* Durée de l'animation */
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;

  & button {
    width: 100%;
   background: none;
   border: none;
  }
}

.south {
  & button{
    all: unset;

  }
  z-index: 1;
  animation-name: content2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
  box-shadow: 1px 1px rgb(68, 224, 235), -0.5em 0 0.4em rgb(13, 13, 13);
  border: #0d98e9 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: radial-gradient(circle,

      rgba(4, 223, 247, 0.5),
      rgba(32, 221, 242, 0.4),

      rgba(26, 233, 247, 0.7));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0.2vw;
  &:hover{

    transform: scale(1.05);
    cursor: pointer;
  }
  & img {
    width: 2vw;
    height: 2vw;
z-index: 1;

  }

background-color: none;
  @include south_orientation_landscape-mobile;
  z-index: 1;
right: 2.5%;
  position: absolute;

  top: 30%;

margin-left: 0.5vw;
  &:hover {
    cursor: pointer;
  }
}

.southpicture {
  z-index: 1;
  left: 46.5%;
  position: absolute;
  bottom: 0;
  
  animation-name: content2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;

  display: inline-block; 
  width: 5vw; 
  height: 5vw; 
  cursor: pointer; 
  &  img {
    width: 100%; 
    height: 100%; 
  }
}

/* #est {
  @include est;
  height: 2.5vw;
  width: 5vw;
  margin-left: 2%;
  right: 5%;
  z-index: 1001;

  box-shadow: 0px 3px 1px 1px rgb(128, 120, 120);
  background-color: #90dcfa;
  border-radius: 20%;
  text-shadow: 0.5px 0.5px 0.5px #000, 3px 3px 5px blue;
  animation-name: scaleBook;
  animation-duration: 10s;

  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;

  text-overflow: ellipsis;

  &:hover {
    background-color: #e8f7f7;
  }
}

#estlivre {
  @include estlivre;
  height: 2.5vw;
  width: 5vw;
  margin-left: 2%;
  right: 5%;
  z-index: 1001;

  box-shadow: 0px 3px 1px 1px rgb(128, 120, 120);
  background-color: #90dcfa;
  border-radius: 20%;
  text-shadow: 0.5px 0.5px 0.5px #000, 3px 3px 5px blue;
  animation-name: scaleBook;
  animation-duration: 10s;

  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;

  text-overflow: ellipsis;

  &:hover {
    background-color: #e8f7f7;
  }
}

#west {
  @include west;
  @include west_paysage;

  margin-right: 2%;
  height: 2.5vw;
  width: 5vw;
  left: 5%;

  z-index: 1001;

  box-shadow: 0px 3px 1px 1px rgb(128, 120, 120);
  background-color: #90dcfa;
  border-radius: 20%;
  text-shadow: 0.5px 0.5px 0.5px #000, 3px 3px 5px blue;
  animation-name: scaleBook;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;

  text-overflow: ellipsis;

  &:hover {
    background-color: #e8f7f7;
  }
}

#westlivre {
  @include westlivre;
  @include west_paysage;

  margin-right: 2%;
  height: 2.5vw;
  width: 5vw;
  left: 5%;

  z-index: 1001;

  box-shadow: 0px 3px 1px 1px rgb(128, 120, 120);
  background-color: #90dcfa;
  border-radius: 20%;
  text-shadow: 0.5px 0.5px 0.5px #000, 3px 3px 5px blue;
  animation-name: scaleBook;
  animation-duration: 10s;
 
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;

  text-overflow: ellipsis;

  &:hover {
    background-color: #e8f7f7;
  }
}
 */


.imageaccueil {
  z-index: 5;
  animation: scaleBook;
  animation-duration: 10s;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cachermenu {
  position: absolute;
  top: 1vw;
  left: 30vw;
}

/* Limite le nombre de titres affichés par colonne à 7 */
.thetitles button:nth-child(n + 8):nth-child(-n + 14) {
  break-after: column;
}

.player {
  z-index: 999;
}

.thetitles {
  /* animation: progressiftitle 1s linear forwards; */
  overflow-y: auto;
  z-index: 1000;
  flex-direction: column;

  padding: 1%;

  /*   column-count: 1; */

  column-gap: 10px;
  /* Espace entre les colonnes */

  transform: translate(-50%, -50%);
  box-shadow: 1px 1px rgb(9, 196, 58), -0.5em 0 0.4em rgb(13, 13, 13);
  border-right: #0d98e9 1px solid;
  border-bottom: #0d98e9 1px solid;
  border-radius: 15%;
  margin-left: 0.2%;

  color: black;

  background: radial-gradient(circle,
      rgba(108, 131, 233, 0.2),
      rgba(95, 219, 247, 0.5),
      rgba(24, 107, 184, 0.4),
      rgba(78, 141, 230, 0.7),
      rgba(3, 3, 86, 0.7)),
    url("");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include thetitlesportrait;
  @include thetitlespaysage;
  @include thetitlesportrait-max;

  & button {
    @include thetitlespaysagebuton;
    width: 100%;
    background: radial-gradient(circle,
        rgba(108, 131, 233, 0.2),
        rgba(95, 219, 247, 0.5),
        rgba(24, 107, 184, 0.4),
        rgba(78, 141, 230, 0.7),
        rgba(3, 3, 86, 0.7));
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%, 0%;
    background-position-y: 0%, 0%;
    background-repeat: repeat, repeat;
    background-size: auto, auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    border-radius: 20%;
    margin: 2.5px;

    &:hover {
      background: linear-gradient(circle,
          rgba(108, 131, 233, 0.2),
          rgba(95, 219, 247, 0.5),
          rgba(24, 107, 184, 0.4),
          rgba(78, 141, 230, 0.7),
          rgba(3, 3, 86, 0.7));

      box-shadow: rgba(13, 13, 14, 0.7) 0px 7px 9px 0px;
    }
  }
}

.TitleText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TitleText button {
  width: 100%;
  min-width: 100px;
  padding: 5px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
}

.alignementverticale {
  bottom: 25%;

  & input {
    text-align: center;
    width: 50%;
    margin: 1%;
  }
}

#envoyer {
  background-color: #03507d;
  width: 40%;

  &:hover {
    transform: scale(1.02);
    background-color: #1cda22;
    cursor: pointer;
  }
}

.oubliid {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  & button {
    z-index: 9999;
    margin: 1vw;
    color: black;
  }
}

.boutonlogin {
  @include boutonlogin;
  position: absolute;
  right: 50%;
  top: 2px;
 
  z-index: 5;
  color: #8bd2fb;
  /* Couleur de l'emoji initiale */
  /*   box-shadow: 1px 1px rgb(11, 171, 230), -0.01em 0 0.01em rgb(7, 141, 189); */
  animation-name: wave;
  animation-duration: 4s;
  /* Durée de l'animation */
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;

  opacity: 1;


  
  font-size: 4rem;
  /* Taille de l'emoji */
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    /* box-shadow: 1px 1px rgb(11, 171, 230), -0.05em 0 0.05em rgb(240, 229, 20); */
  }
}

.boutonlogin::before {
  content: "🌀";
  width: 3vw;
  height: 3vw;
  box-shadow: 1px 1px rgb(9, 196, 58), -0.5em 0 0.4em rgb(13, 13, 13);
  border: #0d98e9 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1rem;
  background: radial-gradient(circle, rgba(108, 131, 233, 0.2), rgba(95, 219, 247, 0.5), rgba(24, 107, 184, 0.4), rgba(78, 141, 230, 0.7), rgba(3, 3, 86, 0.7)), url("../logos/world.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.boutonlogin:hover::before {
  content: "🌐";
  width: 3vw;
  height: 3vw;
  box-shadow: 1px 1px rgb(9, 196, 58), -0.5em 0 0.4em rgb(13, 13, 13);
  border: #0d98e9 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1rem;

  background: radial-gradient(circle, rgba(108, 131, 233, 0.2), rgba(95, 219, 247, 0.5), rgba(24, 107, 184, 0.4), rgba(78, 141, 230, 0.7), rgba(3, 3, 86, 0.7)), url("../logos/world.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.boutonlogin2 {
  @include boutonlogin;

  position: absolute;
  top: 2px;
  right: 50%;
 
  z-index: 10000;



  display: flex;
  line-height: 1;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  /* Taille de l'emoji */
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;


}

.boutonlogin2::before {
  content: "🍏";
  position: absolute;
  width: 3vw;
  height: 3vw;
  box-shadow: 1px 1px rgb(9, 196, 58), -0.5em 0 0.4em rgb(13, 13, 13);
  border: #0d98e9 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1rem;
right: 50%;
  background: radial-gradient(circle, rgba(108, 131, 233, 0.2), rgba(95, 219, 247, 0.5), rgba(24, 107, 184, 0.4), rgba(78, 141, 230, 0.7), rgba(3, 3, 86, 0.7)), url("../logos/world.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
 
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px rgb(11, 171, 230), -0.05em 0 0.05em rgb(240, 229, 20);
  }
}





#bouton-cacher-log {
  @include bouton-cacher-log;
  position: absolute;
  width: 3vw;
  height: 2vw;
  z-index: 100;

  border: 0;
  top: 0;
  right: 14vw;
  margin-top: 0px;
  text-shadow: 0.2px 0.2px 0.5px #000, 3px 3px 5px blue;
  background: none;

  /* Ajout du contenu avant le bouton */
  &::before {
    width: 3vw;
    height: 3vw;
    @include bouton-cacher-log-before;
    content: "🌀";
    /* Emoji de base */
    font-size: 3rem;
    cursor: pointer;
    box-shadow: 1px 1px rgb(9, 196, 58), -0.5em 0 0.4em rgb(13, 13, 13);
  border: #0d98e9 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1rem;

  background: radial-gradient(circle, rgba(108, 131, 233, 0.2), rgba(95, 219, 247, 0.5), rgba(24, 107, 184, 0.4), rgba(78, 141, 230, 0.7), rgba(3, 3, 86, 0.7)), url("../logos/world.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  }

  &:hover::before {
    content: "🌐";
 
    color: inherit;

    cursor: pointer;
    box-shadow: 1px 1px rgb(9, 196, 58), -0.5em 0 0.4em rgb(13, 13, 13);
  border: #0d98e9 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1rem;
  background: radial-gradient(circle, rgba(108, 131, 233, 0.2), rgba(95, 219, 247, 0.5), rgba(24, 107, 184, 0.4), rgba(78, 141, 230, 0.7), rgba(3, 3, 86, 0.7)), url("../logos/world.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  }

  /* Effet de déplacement au survol */
  &:hover {
  transform: scale(1.1);
  margin-top: 0.2vw;
  }
}

#decobutton {
  z-index: 100;
  position: absolute;
  top: 1vw;
  right: 1vw;
  background-color: #d1515a;
  border-radius: 20%;
  animation-timing-function: linear;

  animation-delay: 1.5s;
  animation: deco 5s forwards;

  &:hover {
    background-color: #ff0617;
  }
}

.animdiv {
  position: absolute;
  z-index: 1;
  top: 0%;
  display: flex;
  right: 2%;
}

.hidden {
  display: none;
}

.invisible {
  display: none;
}

.visible {
  display: flex;
  background-color: #0d11e9;
}

.arriere {
  margin: 0%;
  width: 880px;
  height: 100%;
  background-color: white;

  & img {
    margin: 0px;
    width: 100%;
    height: 800px;
  }
}

.fondbackgroundpage {
  background-repeat: no-repeat;
  background-size: "100%";
  background-color: #0d11e9;
}

.calquesdeschoix {
  margin-top: 4%;

  display: flex;

  align-items: center;
  justify-content: center;
  gap: 4%;
  flex-direction: row;
  flex-wrap: wrap;



  & .carte {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px rgb(188, 236, 239), -0.2em -0.2em 0.9em black;
    padding: 2%;
    font-family: "Times New Roman", Times, serif;


    border-radius: 20% 0% 20% 20%;
    background-color: white;
    font-size: 25px;

    background: radial-gradient(circle,
        rgba(121, 236, 244, 0.2),
        rgba(95, 219, 247, 0.5),
        rgba(23, 138, 204, 0.4),
        rgba(78, 141, 230, 0.7),
        rgba(161, 227, 235, 0.7)),
      url("");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      transform: scale(1.02);
      cursor: pointer;
      box-shadow: 15px 12px 5px 2px black;
    }

    & img {
      width: 13rem;
      height: 16rem;

      background-color: #121314;
      border-bottom: 5px solid rgb(201, 182, 182);
      border-right: 5px solid rgb(201, 182, 182);
      border-radius: 2%;
      box-shadow: 0px 3px 1px 1px rgb(128, 120, 120);
    }
  }
  & .cartehorizontale {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px rgb(188, 236, 239), -0.2em -0.2em 0.9em black;
    padding: 2%;
    font-family: "Times New Roman", Times, serif;


    border-radius: 20% 0% 20% 20%;
    background-color: white;
    font-size: 25px;

    background: radial-gradient(circle,
        rgba(121, 236, 244, 0.2),
        rgba(95, 219, 247, 0.5),
        rgba(23, 138, 204, 0.4),
        rgba(78, 141, 230, 0.7),
        rgba(161, 227, 235, 0.7)),
      url("");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      transform: scale(1.02);
      cursor: pointer;
      box-shadow: 15px 12px 5px 2px black;
    }

    & img {
      width: 19rem;
      height: 13rem;

      background-color: #121314;
      border-bottom: 5px solid rgb(201, 182, 182);
      border-right: 5px solid rgb(201, 182, 182);
      border-radius: 2%;
      box-shadow: 0px 3px 1px 1px rgb(128, 120, 120);
    }
  }
}

.containerlogin {
  @include login;

  width: 72%;
  height: 75%;
  position: fixed;
  top: 45.5%;
  left: 49.1%;
  transform: translate(-50%, -50%);
  border-radius: 10%;
  border: 0.3px solid rgb(112, 220, 224);
  display: flex;
  flex-direction: column;
  z-index: 9999;

  transform: translate(-50%, -50%);
  box-shadow: 1px 1px rgb(9, 196, 58), -0.5em 0 0.4em rgb(13, 13, 13);
  border-right: #0d98e9 1px solid;
  border-bottom: #0d98e9 1px solid;

  color: black;

  background: radial-gradient(circle,
      rgba(108, 131, 233, 0.9),
      rgba(95, 219, 247, 0.5),
      rgba(78, 141, 230, 1),
      rgba(3, 3, 86, 1)),
    url("");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  margin: 1%;
  text-align: center;

  #pseudo {
    border-radius: 10%;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 40%;
    margin: 3%;
    width: 10vw;
    height: 2vw;
    text-align: center;
    box-shadow: 1px 1px rgb(33, 13, 150), -0.5em 0 0.4em black;
    background-color: white;
    /* Exemple d'ajout d'une couleur de fond */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & #password {
    border-radius: 10%;
    z-index: 9999;
    position: fixed;
    right: 0;
    top: 40%;
    margin: 3%;
    height: 2vw;
    width: 10vw;
    text-align: center;
    box-shadow: 1px 1px rgb(33, 13, 150), -0.5em 0 0.4em black;
  }

  & button {
    width: 100%;

    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%, 0%;
    background-position-y: 0%, 0%;
    background-repeat: repeat, repeat;
    background-size: auto, auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    border-radius: 20%;
    margin-bottom: 10.5px;

    &#login {
      position: relative;

      background-image: url("../logos/terre.gif");
      font-size: 3rem;
      margin-top: 10vw;
      height: 15vw;

      /* Couleur de fond par défaut */
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s, box-shadow 0.3s;

      border: none;

      &:hover {
        width: 92%;
        transform: scale(1.1);
        /* Agrandit le bouton au survol */
        color: transparent;
        box-shadow: 0 4px 15px 5px rgba(246, 243, 243, 0.2);
      }
    }

    &#forgetid {
      content: "🔑";
      position: fixed;
      bottom: 0%;
      right: 35%;
      border: 2px solid rgb(109, 207, 24);
      background: radial-gradient(circle,
          rgba(24, 107, 184, 0.4),
          rgba(3, 3, 86, 0.7));
      width: 30%;
      display: inline;
      margin-top: 5vw;
      color: #000;
      filter: blur(0.5px);

      &:hover {
        background-color: #03507d;
        transform: scale(1.05);
        color: white;
        cursor: pointer;
        filter: blur(0px);
      }
    }
  }
}

// Formulaire pour s'inscrire

.forminscription {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 8%;
  border-radius: 20%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 2%;
  font-size: 25px;
  font-weight: 700;
  color: white;
  -webkit-text-stroke: 0.4px black;
  margin-top: 2rem;
  text-shadow: 1.5px 1.5px 0.5px black;

  & .inscritpion {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 40%;
    border: 2px solid gold;
    padding: 2rem;

    border-radius: 20%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-shadow: 1px 0.5px white, -0.1em 0 0.1em black;

    & form {
      width: 100%;

      & span {
        font-weight: 700;
        font-size: 20px;

        color: red;
      }

      display: flex;
      flex-direction: column;
    }
  }
}

.shadow {
  border-left: 0.1px solid rgb(160, 157, 157);
height: 99%;
  box-shadow: 7px 10px 3px 1px rgb(39, 38, 38);
}

//Pour la création du DECK

.createPostPageDeck {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;

  margin-left: 0.5rem;
  width: 100%;
  z-index: 2;

  & .lienpoid {
    font-size: 1rem;
  }

  & .formContainer2 {
    display: list-item;
    justify-content: center;
    border: 2px solid rgb(32, 188, 216);

    width: 20vw;
    box-shadow: 2px 2px rgb(188, 236, 239), -0.2em -0.2em 0.9em black;

    font-family: "Times New Roman", Times, serif;
    padding: 20px;

    border-radius: 20% 0% 20% 20%;
    background-color: white;
    font-size: 25px;

    background: radial-gradient(circle,
        rgba(121, 236, 244, 0.2),
        rgba(95, 219, 247, 0.5),
        rgba(23, 138, 204, 0.4),
        rgba(78, 141, 230, 0.7),
        rgba(161, 227, 235, 0.7)),
      url("");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    & .titre {

      font-size: 1rem;
      margin-bottom: 2%;
      background-color: rgb(248, 246, 242);
      box-shadow: 2px 2px black, -0.2em -0.2em 0.9em white;
      border-radius: 20%;
      margin-bottom: 1rem;
    }

    & form {
      display: flex;
      flex-direction: column;
      align-items: center;

      & input {



        box-shadow: 2px 2px black, -0.2em -0.2em 0.9em white;
        border: 0.1px solid #2069dd;
      }

      & textarea {

        width: 100%;
        height: 2rem;
        box-shadow: 2px 2px black, -0.2em -0.2em 0.9em white;
        border: 0.1px solid #2069dd;
      }

      & .alignement {
        display: flex;
        flex-direction: column;


        & .titre_checkbox {

          font-size: 1rem;

          & input {
            display: list-item;
            height: 3vw;
            width: 10vw;
          }
        }
      }
    }



    @include smartphone-ajustement_formulaire;

    & .marge {
      font-size: 1rem;
    }

    & button {
      margin-top: 20%;
      height: 15%;
      width: 100%;
      border-color: #d1515a solid 2px;
      background-color: #2069dd;
      border-radius: 5px;
      color: white;
      font-size: 17px;
      justify-content: center;
      margin-top: 5%;

      & :hover {
        background-color: #153e80;
      }
    }

    & .formContainer2 button:hover {
      cursor: pointer;
      background-color: dodgerblue;
    }

    &.formContainer2 button:active {
      background-color: rgb(102, 248, 89);
    }

    & span .black {
      background-color: white;
    }
  }
}

.affichageformulaireetliste {
  display: flex;

  width: 100%;
  @include smartphone-deck;
}



.creationbook {
  display: flex;
overflow-x: auto;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100%;
  width: 100%;
}

.fromdiv {
  display: flex;
  background-color: #030356;
  background-size: cover;

  flex-direction: column;
  align-items: center;



  & .fromdicalques {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;

    box-shadow: 2px 2px rgb(188, 236, 239), -0.2em -0.2em 1em black;
    padding: 5%;
    font-family: "Times New Roman", Times, serif;

    border-radius: 20% 0% 20% 20%;
    background-color: white;
    font-size: 25px;

    background: radial-gradient(circle,
        rgba(121, 236, 244, 1),
        rgba(95, 219, 247, 0.9),
        rgba(23, 138, 204, 1),
        rgba(78, 141, 230, 0.8),
        rgba(161, 227, 235, 0.5)),
      url("");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

//Mise en forme des cartes qui se trouve dans les decks

.lignedeck {
  display: flex;
  color: white;
  text-shadow: 1px 1px 2px black;

  align-items: center;
  box-shadow: 0px 3px 1px 1px rgb(174, 236, 243);
  padding: 2rem;
  border-radius: 10% 0% 10% 5%;
  margin: 0.2rem;
  background: radial-gradient(circle,
      rgba(12, 45, 153, 0.2),
      rgba(46, 166, 221, 0.5),
      rgba(122, 177, 229, 0.4),
      rgba(47, 232, 204, 0.7),
      rgba(35, 199, 240, 0.7));

  & .alignement {
    animation: content2 3s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: row;
  }

  & form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
      display: inherit;
      text-transform: none;
      padding: 0.3rem;
      width: 100%;
      margin-bottom: 0.4rem;
      font-size: 1.2rem;
      color: white;
      text-shadow: rgb(19, 18, 18) 2px 2px;
      border: 0.1px solid rgb(223, 249, 422);
      box-shadow: -2px -1px 2px 2px rgb(123, 149, 422);
      border-radius: 50%;
    }

    & .titre {
      color: rgb(52, 234, 44);
      display: flex;
      justify-content: center;
    }

    & .number {
      color: gold;
      border: solid black 0.5px;
      border-radius: 50%;
      padding: 0.5rem;
      text-shadow: rgb(19, 18, 18) 2px 1px;
      box-shadow: 1.2px 1.2px 0.2px 0.1px black;
    }

    & .description2 {
      display: flex;
      justify-content: center;
      color: white;
    }

    & input {
      max-width: 10rem;
      margin: 1rem;
    }
  }
}

.imagedeck {
  width: 100%;
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: center;

  font-size: 1rem;
  font-weight: bold;

  #image {
    display: flex;

    width: 100%;
    height: 100%;

    padding: 2rem;
  }

  & img {
    border-radius: 20%;
    margin-top: 0.5rem;
    height: 13rem;
    width: 10rem;
    box-shadow: 2px 2px white, -0.2em -0.2em 0.9em black;
  }

  & li {
    list-style-type: decimal;
  }
}

.imagedeckhorizontale {
  width: 100%;
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: center;

  font-size: 1rem;
  font-weight: bold;

  #image {
    display: flex;

    width: 100%;
    height: 100%;

    padding: 2rem;
  }

  & img {
    border-radius: 20%;
    margin-top: 0.5rem;
    height: 10rem;
    width: 13rem;
    box-shadow: 2px 2px white, -0.2em -0.2em 0.9em black;
  }

  & li {
    list-style-type: decimal;
  }
}
.imagedeckfond {
  width: 100%;
  display: flex;
  max-width: 15rem;

  flex-wrap: wrap;
  justify-content: center;

  font-size: 1rem;
  font-weight: bold;

  & img {
    border-radius: 20%;

    height: 10rem;
    width: 14rem;
    box-shadow: 2px 2px white, -0.2em -0.2em 0.9em black;
  }

  & input {
    width: 10rem;
    margin: 0.4rem;
  }
}


.navbarre {
  margin-top: 10vw;

}

.barredenavigation {
  position: absolute;
  color: white;
  text-shadow: #000;
}

.nav {
  z-index: 9999;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;

  & #biblio {
    @include biblio;
    z-index: 200;
    transform: scale(1.1);
    /* Agrandit le bouton au survol */
    background-color: #03507d;
    box-shadow: 0 4px 15px 5px rgba(196, 193, 193, 0.2);
    background: radial-gradient(circle,
        rgba(108, 131, 233, 0.2),
        rgba(95, 219, 247, 0.5),
        rgba(24, 107, 184, 0.4),
        rgba(78, 141, 230, 0.7),
        rgba(3, 3, 86, 0.7)),
      url("../logos/world.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0.3%;
    left: 28vw;
    height: 4vh;
    width: 4vh;
    box-shadow: 1px 1px rgb(9, 196, 58), -0.5em 0 0.4em rgb(13, 13, 13);
    border: #0d98e9 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.5rem;
    line-height: 1;

    /* Styles pour le pseudo-élément before */
    &::before {
      @include biblio-before;
      content: "📖";
      /* Icône de livre */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      /* Centre l'icône */
      font-size: 1.5rem;
      /* Taille de l'icône */
      transition: transform 0.3s ease, color 0.3s ease;
      /* Transition pour l'agrandissement et la couleur */
      z-index: 1;
      /* Assure que l'icône est au-dessus du bouton */
    }

    /* Styles pour le pseudo-élément after */
    &::after {
      content: "📖";
      /* Contenu vide pour créer un effet */
      position: absolute;
      top: 0.5%;
      right: 50vw;
      transform: translate(-50%, -50%) scale(1.2);
      /* Effet de lumière ou d'ombre */
      width: 120%;
      /* Taille de l'effet */
      height: 120%;
      /* Taille de l'effet */
      border-radius: 50%;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
      /* Ombre portée */
      z-index: 0;
      /* Derrière le contenu du bouton */
      transition: transform 0.3s ease;
      /* Transition pour l'effet */
    }

    &:hover {
      transform: scale(1.1);
      /* Agrandit le bouton au survol */
      background-color: #03507d;
      box-shadow: 0 4px 15px 5px rgba(196, 193, 193, 0.2);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }

  & #create {
    @include create;
    z-index: 200;
    position: absolute;
    top: 0.3%;
    left: 19vw;
    height: 1.5vw;
   
    box-shadow: 1px 1px rgb(9, 196, 58), -0.5em 0 0.4em rgb(13, 13, 13);
    border: #0d98e9 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1rem;
    line-height: 1;
    background: radial-gradient(circle,
        rgba(108, 131, 233, 0.2),
        rgba(95, 219, 247, 0.5),
        rgba(24, 107, 184, 0.4),
        rgba(78, 141, 230, 0.7),
        rgba(3, 3, 86, 0.7)),
      url("../logos/world.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    /* Styles pour le pseudo-élément before */
    &::before {
      content: "✒️";
      /* Icône de livre */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      /* Centre l'icône */
      font-size: 1.5rem;
      /* Taille de l'icône */
      transition: transform 0.3s ease, color 0.3s ease;
      /* Transition pour l'agrandissement et la couleur */
      z-index: 1;
      /* Assure que l'icône est au-dessus du bouton */
    }

    /* Styles pour le pseudo-élément after */
    &::after {
      content: "✒️";
      /* Contenu vide pour créer un effet */
      position: absolute;
      top: 0.5%;
      right: 50vw;
      transform: translate(-50%, -50%) scale(1.2);
      /* Effet de lumière ou d'ombre */
      width: 120%;
      /* Taille de l'effet */
      height: 120%;
      /* Taille de l'effet */
      border-radius: 50%;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
      /* Ombre portée */
      z-index: 0;
      /* Derrière le contenu du bouton */
      transition: transform 0.3s ease;
      /* Transition pour l'effet */
    }

    &:hover {
      transform: scale(1.1);
      /* Agrandit le bouton au survol */
      background-color: #03507d;
      box-shadow: 0 4px 15px 5px rgba(196, 193, 193, 0.2);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }

  .thunder2-button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;

    &:hover {
      box-shadow: 0 4px 15px 5px rgba(196, 193, 193, 0.2);
      background: radial-gradient(circle,
          rgba(108, 131, 233, 0.2),
          rgba(95, 219, 247, 0.5),
          rgba(24, 107, 184, 0.4),
          rgba(78, 141, 230, 0.7),
          rgba(3, 3, 86, 0.7)),
        url("../logos/world.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  & #accueilli {
    @include accueil;
    z-index: 3;
    position: absolute;
    top: 0.5vw;
   left: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px rgb(33, 13, 150), -0.5em 0 0.4em black;
    border: 0px solid rgb(20, 66, 202);
    border-radius: 50%;
    height: 2.5vw;
    width: 2.5vw;
    font-size: 1rem;
    animation-duration: 1s;
    animation-timing-function: linear;

    animation-delay: 3.5s;
    animation: deco 5s forwards;
    color-scheme: white;
    background: radial-gradient(circle,
        rgba(108, 131, 233, 0.2),
        rgba(178, 177, 206, 0.5),
        rgba(24, 107, 184, 0.4),
        rgba(26, 161, 224, 0.7),
        rgba(3, 3, 86, 0.7)),
      url("../logos/world.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      scale: (1.1);
      background-color: #eae615;
    }
  }

  & #identi {
    @include identifiant;
    z-index: 100;
    /* Augmente si nécessaire */
    position: absolute;
    top: 0.2vw;
    right: 20vw;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(175, 63, 10);
    height: 1.7vh;
    /* Taille augmentée pour tester */
    width: 1.7vh;
    /* Taille augmentée pour tester */
    box-shadow: 1px 1px gold, -0.5em 0 0.4em black;
    border-radius: 50%;
    padding: 1vw;

    cursor: pointer;
    animation-timing-function: linear;
    animation-delay: 1.5s;
    animation: identiti 5s forwards;

    &:hover {
      transform: scale(1.1);
      /* Utilise transform pour le hover */
      background-color: #03507d;
    }
  }
}

.thunder3-button {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  text-transform: uppercase;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* Ajout de la transition pour l'agrandissement */
}

.thunder3-button::before {
  content: "🪐";
  position: absolute;
  /* Positionnement absolu pour que l'emoji se superpose au texte */
  font-size: 24px;
  /* Taille initiale de l'emoji */
  color: yellow;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  /* Positionnement initial centré */
  transition: transform 0.3s ease;
  /* Transition pour l'agrandissement de l'emoji */
  opacity: 0.5;
  z-index: 1;
  /* Assure que l'emoji est au-dessus du texte */
}

.thunder3-button:hover {
  background-color: #03507d;
  transform: scale(1.1);
}

.thunder3-button:hover::before {
  transform: translate(-50%, -50%) scale(1.8) rotate(0deg);
}