

@keyframes pulseplanelogin {
  0% {
    background-size: 100vw; 
    background-color: #030356;
opacity: 1;
  }
  5% {

    background-size: 100vw; 

  }

  25% {
    background-size: 100vw; 
    background-color: #070f9f;
  
 
  }

  35% {
    background-size: 100vw; 
  
    opacity: 1;
   
  }



  50% {
    background-size: 110vw; 
    background-color: #3030dd;
   
   
  }

  75% {
    
  
  
  }
  100% {
    background-size: 110vw; 
   opacity: 0.5;
}
}
@keyframes pulseplane {
  0% {
  
   

  }
  5% {

   
transform: scale(1.2);font-weight: bold;
  }

  25% {
   
  
 
  }

  35% {
    
    transform: scale(1);
  }



  50% {
color: #11b267;
   
   
  }

  75% {
    transform: scale(1.2); 
  
  
  }
  100% {
   
    transform: scale(1);
  }
}
@keyframes rotate-earth {
  from {
    transform:  rotate(0deg);
  }
  to {
    transform:  rotate(-360deg);
  }
}

@keyframes rotatePlanet {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateText {
  from {
    transform: rotate(0deg);
    width: 15vw;
    height: 15vw;
  }
  to {
    transform: rotate(-360deg);
    width: 30vw;
    height: 15vw;
  }
}

/* Animation de rotation */
@keyframes rotatePlanet {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateText {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}


@keyframes infinite_rotate {
  from {
    transform: rotate(0deg);
    border: rgb(50, 17, 216) 0.1px solid;
  }
  to {
    transform: rotate(360deg);
    border: rgb(50, 17, 216) 0.5px solid;
  }
}

@keyframes bouton {
  0% {
 
  background-color: aquamarine;
    filter: blur(0px) hue-rotate(0deg);
  }
  50% {
background-color: rgb(234, 107, 33);
    filter: blur(0.5px) hue-rotate(360deg);
  }
  100% {
   background-color: rgb(29, 234, 67);
 
    filter: blur(0px) hue-rotate(360deg);
  }
}


@keyframes bouton_login {
  0% {
    top:5px;
  right: 5px;
    filter: blur(0px) hue-rotate(0deg);
  }
  50% {

    filter: blur(0.5px) hue-rotate(360deg);
  }
  100% {
    
  top:300px;
right: 5px;
    filter: blur(0px) hue-rotate(360deg);
  }
}


@keyframes boutonlogin_portrait {
  0% {
right:0px;
  
    filter: blur(0px) hue-rotate(0deg);
  }
  50% {

    filter: blur(0.5px) hue-rotate(360deg);
  }
  100% {
  
    width: 6vw;
    height: 6vw;
    filter: blur(0px) hue-rotate(360deg);
  }
}



@keyframes loginboutonhover {
  0% {
right:0px;
  
    filter: blur(0px) hue-rotate(0deg);
  }
  50% {

    filter: blur(0.5px) hue-rotate(360deg);
  }
  100% {
   
    filter: blur(0px) hue-rotate(360deg);
  }
}



@keyframes bouton_background_portrait {
  0% {
    top: 5px;
    right: 0;
    filter: blur(0px) hue-rotate(0deg);
   
  }
  50% {
  right: 10px;
    filter: blur(0.10px) hue-rotate(15deg);
  }
  100% {
    top: 5px;
    left: 10px;
    filter: blur(0px) hue-rotate(0deg);
    width: 6vw;
    height: 6vw;
  }
}



@keyframes bouton_background {
  0% {
    top: 5px;
    right: 0;
    filter: blur(0px) hue-rotate(0deg);
   
  }
  50% {
  right: 10px;
    filter: blur(0.10px) hue-rotate(15deg);
  }
  100% {
    top: 200px;
    right: 10px;
    filter: blur(0px) hue-rotate(0deg);
    
  }
}

@keyframes bouton_title{
  0% {
    top:5px;
    right: 8px;
    filter: blur(0px) hue-rotate(0deg);
  }
  50% {

    filter: blur(0.5px) hue-rotate(15deg);
  }
  100% {
  
    right: 8px;
    top: 100px;
    filter: blur(0px) hue-rotate(0deg);
  }
}


@keyframes bouton_portrait_title{
  0% {
    top:5px;
    right: 8px;
    filter: blur(0px) hue-rotate(0deg);
  }
  50% {

    filter: blur(0.5px) hue-rotate(15deg);
  }
  100% {  
    
    width: 6vw;
    height: 6vw;
    top: 5px;
    right: 114px;
    filter: blur(0px) hue-rotate(0deg);    
  }
}





















































