@import "../scss/anim_breackpoint/keyframe";

.buttondeck_css {
z-index: 3;

}

.card {z-index: 2;
    position: fixed;
    top:15rem;
    flex-direction: column;
    border: 2px solid rgb(247, 178, 49);
    height: 30rem;
width: 100vw;
    animation: content2 3s;
    animation-fill-mode: forwards;
    z-index: 100;
    background: linear-gradient(rgb(153, 118, 72), rgb(230, 134, 9));
   
border-radius: 15px;
box-shadow: 10px 5px 8px 2px black;


}

.ajuste_image h2 {


    background-color: rgb(165, 163, 161);
    padding: 1rem ;
 border: 2px solid rgb(179, 176, 171);
  
    color: rgb(252, 244, 244);
    text-shadow: rgb(19, 18, 18) 2px 2px;
    -webkit-text-stroke: 0.4px rgb(22, 21, 21);
    box-shadow: 1px 1px 1px 1px black;
margin : 1rem;
animation: content2 3s;
animation-fill-mode: forwards;
}


.backdropt{

   

    
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;

   
}
section h2 {
   

}


section .ajust_image {
display: flex;
align-items: center;

height: 20rem;
& img {
    margin-left: 1rem;
    animation: content2 3s;
    animation-fill-mode: forwards;
       
    
            width: 10rem;
            height: 10rem;
            box-shadow: 1px 1px 1px 1px black;
            border-radius: 10%;

}


    
}
.bandeau {

 
padding: 2rem;


    opacity: 0.4;
    background: linear-gradient(45deg, #00f 12.5%, #fff 12.5%, #fff 37.5%, #00f 37.5%, #00f 62.5%, #fff 62.5%, #fff 87.5%, #00f 87.5%);
    background-size: 100px 100px;
    background-position: 50px 50px;


}

.alignement2 {
width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;
   
    
}

.content2  {
    
    display: flex;
      flex-direction: column;
      margin-right: 2.5rem;
    margin-top: -2.5rem;
    width: 50%;
   
    height: 20rem;
    animation: content2 3s;
    animation-fill-mode: forwards;
    border: 2px solid rgb(179, 176, 171);
    box-shadow: 3px 2px 10px rgb(2, 2, 2);
      
   
   
    padding: 1rem;
border-radius: 5%;
align-items: center;
-webkit-text-stroke: 0.4px rgb(248, 8, 8);
text-shadow: rgb(19, 18, 18) 2px 2px;


& .content_bouton{
    
    display: flex;
    justify-content: center;
   
    
    
    
}




& p {
    

    animation: content2 3s;
    animation-fill-mode: forwards;
    
    
    background-color: rgb(121, 118, 116);
    padding: 1rem ;
 border: 2px solid rgb(179, 176, 171);
    
    color: rgb(252, 244, 244);
    text-shadow: rgb(19, 18, 18) 2px 2px;
    -webkit-text-stroke: 0.4px rgb(22, 21, 21);
    box-shadow: 1px 1px 1px 1px black;
margin : 1rem;
}

& div {
    animation: content2 3s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: row;
}
}

.actions {
   

   display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    padding: 1rem;
    }

    @media(min-width: 600px){
/* 
        .content2 p {
           width: 55rem;
           left: calc(50% - 27.5rem);
            } */

    }